* {
	margin: 0;
	padding: 0;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

.main {
	width: 100%;
	height: 100vh;
}

video {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
}

.home {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.homes {
	padding: 20px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

li {
	list-style: none;
	text-decoration: none;
	padding: 2px;
}

.divisor {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

.divisor > ul > li:hover {
	background-color: rgba(146, 176, 218, 0.85);
	transition: background-color 1s;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

a {
	color: white;
	text-decoration: none;
}

p {
	padding: 1rem;
}

.developers > ul > li {
	list-style: none;
	text-decoration: none;
	padding: 2%;
}

.developers > ul > li:hover {
	background-color: rgba(146, 176, 218, 0.85);
	transition: background-color 2s;
	box-shadow: 5px 2px 2px black;
	border-radius: 5px;
}

.developers > ul > li > a > img {
	border-style: solid;
	border-color: rgb(42, 32, 149);
	border-width: 2px;
	border-radius: 20%;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.pics {
	width: 12rem;
	border-style: solid;
	border-color: rgb(42, 32, 149);
	border-width: 0.15rem;
	border-radius: 1rem;
}

.pics:hover {
	background-color: rgba(42, 32, 149, 0.85);
	transition: background-color 2s;
	box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.45);
	border-radius: 1.15rem;
}
